body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: rgb(38, 38, 38);
  background-color: rgb(255, 255, 255);
}

.page-wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0;
}

/* -------------------------------------------------*/
/*  REUSABLE COMPONENTS */
/* -------------------------------------------------*/

.padding {
  padding: 60px 40px;
}

.no-padding {
  padding: 0;
}

.form-padding-odd,
.form-padding-even {
  padding-right: 20px;
  padding-left: 20px;
}

/*-------- HEADINGS ---------*/
h1,
h3,
h4 {
  text-align: center;
  font-family: 'Martel', serif;
}

h3,
h4 {
  text-transform: uppercase;
}

h1,
.menu h3,
.reserve h3,
h4 {
  color: rgb(255, 255, 255);
}

h1 {
  word-spacing: 5px;
  letter-spacing: 2px;
  font-style: italic;
}

h3 {
  margin-bottom: 30px;
}

h3:after {
  display: block;
  content: ' ';
  height: 2px;
  background-color: rgb(223, 0, 0);
  width: 100px;
  margin: 0 auto;
  margin-top: 14px;
}

/*-------- PARAGRAPHS ---------*/
p {
  text-align: center;
}

/*-------- ICONS ---------*/

.icon-small {
  color: rgb(223, 0, 0);
  font-size: 125%;
  margin-right: 10px;
}

.icon-small:last-child {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}

.icon-medium {
  display: inline-block;
  color: rgb(199, 199, 199);
  font-size: 150%;
  width: 40px;
  padding: 6px;
  transition: color 0.2s;
}

.icon-medium:hover {
  color: rgb(223, 0, 0);
}

.icon-big {
  display: block;
  font-size: 187%;
  text-align: center;
  text-shadow: 3px 3px 5px rgb(12, 13, 17);
}

/*-------- BUTTONS ---------*/
.btn {
  border: 1px solid rgb(223, 0, 0);
  background-color: rgb(223, 0, 0);
  border-radius: 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.btn:hover,
.btn:active {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  color: rgb(223, 0, 0);
  text-decoration: none;
}

.hero-btn,
.reserve-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* -------------------------------------------------*/
/*  HEADER */
/* -------------------------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('img/bg-1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/*---- Main Navi ----*/
.my-navbar {
  z-index: 200;
  border-bottom: none;
  background-color: rgb(12, 13, 17);
}

a.navbar-brand {
  padding: 0 12px;
}

a.navbar-brand img {
  width: 35px;
  height: 35px;
  position: relative;
  top: 16%;
}

.navbar-inverse .my-nav .nav-item.active a {
  background-color: transparent;
  color: rgb(223, 0, 0);
}

.navbar-inverse .my-nav .nav-link:link,
.navbar-inverse .my-nav .nav-link:visited {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 90%;
  letter-spacing: 1px;
  text-align: center;
  transition: color 0.2s;
}

.navbar-inverse .my-nav .nav-link:hover,
.navbar-inverse .my-nav .nav-link:active {
  color: rgb(223, 0, 0);
}

/*---- Sticky Navi ----*/
.my-navbar.white {
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0px #bdbdbd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar-inverse .my-nav.white .nav-item.active a {
  background-color: transparent;
  color: rgb(223, 0, 0);
}

.navbar-inverse .my-nav.white .nav-link:link,
.navbar-inverse .my-nav.white .nav-link:visited {
  color: rgb(12, 13, 17);
  transition: color 0.2s;
}

.navbar-inverse .my-nav.white .nav-link:hover,
.navbar-inverse .my-nav.white .nav-link:active {
  color: rgb(223, 0, 0);
}

.my-navbar.white .navbar-toggle.white {
  background-color: rgb(255, 255, 255);
}

.my-navbar.white .navbar-toggle.white:hover {
  border-color: rgb(12, 13, 17);
  background-color: rgb(59, 59, 59);
}

.my-navbar.white .navbar-toggle.white .icon-bar {
  background-color: rgb(12, 13, 17);
}

.my-navbar.white .navbar-toggle.white:hover .icon-bar {
  background-color: rgb(255, 255, 255);
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text-box p {
  color: rgb(255, 255, 255);
  font-size: 90%;
  font-weight: 300;
  margin-bottom: 25px;
}

.hero-btn {
  margin-top: 10px;
}

/* -------------------------------------------------*/
/*  ABOUT US*/
/* -------------------------------------------------*/

.about-section p {
  text-align: justify;
}

.about-section img {
  margin-top: 50px;
}

/* -------------------------------------------------*/
/*  MENU */
/* -------------------------------------------------*/

.menu-section {
  background-image: url('img/menu.jpg');
  height: 780px;
  background-position: center;
  background-size: cover;
  font-family: 'Martel', serif;
  color: rgb(255, 255, 255);
}

.daily-menu-nav {
  margin: 0 auto 10px;
  text-align: center;
  font-size: 110%;
}

.menu-btn:link,
.menu-btn:visited {
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 6px 8px;
}

.menu-btn:hover,
.menu-btn:active {
  border: 1px solid rgb(223, 0, 0);
}

.menu-btn.active-btn {
  border: 1px solid rgb(223, 0, 0);
}

.dish-box:first-of-type {
  margin-top: 60px;
}

.dish-box {
  margin-top: 35px;
}

.menu-section p {
  font-size: 125%;
}

.menu-section span {
  display: block;
  text-align: center;
  font-size: 150%;
}

/* -------------------------------------------------*/
/*  GALLERY */
/* -------------------------------------------------*/

.gallery-padding {
  padding-top: 60px;
}

.no-margin {
  margin: 0;
}

.gallery-section p {
  /* margin: 0 120px 50px; */
  margin: 0 50px 50px;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.meal-photo img {
  transform: scale(1.15);
  transition: transform 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.03);
}

/* -------------------------------------------------*/
/*  TESTIMONIALS */
/* -------------------------------------------------*/

blockquote {
  border-left: none;
  font-style: italic;
  text-align: center;
}

blockquote:before {
  content: '\201C';
  font-size: 450%;
  display: block;
  position: absolute;
  top: -25px;
  left: -5px;
}

.image-cropper {
  width: 90px;
  height: 90px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.reviews-section img {
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.reviews-section p {
  font-size: 112%;
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 300;
}

/* -------------------------------------------------*/
/*  RESERVATIONS */
/* -------------------------------------------------*/

.reserve-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('img/reservations.jpg');
  background-size: cover;
  background-position: center;
  height: 750px;
  color: rgb(199, 199, 199);
}

.reserve-section input:focus {
  border-color: rgb(223, 0, 0);
}

.reserve-btn {
  margin-top: 20px;
}

/* -------------------------------------------------*/
/*  FOOTER - CONTACT US */
/* -------------------------------------------------*/

.contact-bg {
  background-color: rgb(12, 13, 17);
  color: rgb(199, 199, 199);
  font-weight: 300;
}

.contact-section ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.contact-section span {
  text-transform: uppercase;
}

.social-links li {
  display: inline-block;
}

.up-btn {
  position: fixed;
  bottom: 120px;
  right: 0;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  background-color: rgb(59, 59, 59);
  border-color: rgb(59, 59, 59);
  visibility: hidden;
  opacity: 1;
  transition: 0.5s ease-in;
}

.up-btn.show {
  visibility: visible;
  opacity: 1;
}

.up-btn:hover {
  background-color: rgb(223, 0, 0);
  border-color: rgb(223, 0, 0);
}

.up-btn:focus {
  outline: none;
}

.up-icon {
  color: rgb(199, 199, 199);
  font-size: 137%;
}

.contact-section p {
  font-size: 87%;
  margin-top: 40px;
}

/* -------------------------------------------------*/
/*  MEDIA QUERIES */
/* -------------------------------------------------*/

@media screen and (min-width: 768px) {
  .padding {
    padding-left: 60px;
    padding-right: 60px;
  }

  .my-nav {
    float: right;
  }

  a.navbar-brand img {
    width: 40px;
    height: 40px;
    top: 10%;
  }

  .my-navbar .nav-item {
    margin-left: 25px;
    margin-top: 10px;
  }

  .my-navbar .nav-link {
    padding: 6px;
  }

  h1 {
    font-size: 300%;
  }

  .hero-text-box p {
    font-size: 110%;
  }

  h3 {
    margin-top: 50px;
    font-size: 187%;
  }

  .about-section p {
    padding: 0 10px;
    font-size: 125%;
  }

  .menu-section {
    height: 600px;
  }

  .dish-box {
    margin-top: 45px;
  }

  .icon-big,
  .menu-section p,
  .menu-section span {
    display: inline-block;
  }

  .icon-big {
    font-size: 200%;
    margin-right: 40px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -2px;
  }

  .menu-section p {
    font-size: 140%;
  }

  .menu-section span {
    font-size: 162%;
    float: right;
  }

  .gallery-section p {
    font-size: 125%;
    margin-left: 80px;
    margin-right: 80px;
  }

  .reserve-section {
    height: 800px;
  }

  .contact-section .padding {
    padding-bottom: 30px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-section .row {
    margin-top: 60px;
  }

  .up-btn {
    bottom: 80px;
  }
}

@media screen and (min-width: 992px) {
  .icon-big {
    margin-left: 40px;
  }

  .menu-section span {
    margin-right: 40px;
  }

  .gallery-section p {
    margin-left: 120px;
    margin-right: 120px;
  }

  .reserve-section {
    height: 600px;
  }

  .form-padding-odd {
    padding-right: 20px;
  }

  .form-padding-even {
    padding-left: 20px;
  }

  .up-btn {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .icon-big {
    margin-left: 60px;
    font-size: 225%;
    margin-top: -8px;
  }

  .menu-section p {
    font-size: 175%;
  }

  .menu-section span {
    font-size: 187%;
    float: right;
    margin-right: 60px;
  }
}
